# Python Collections (1)

## Lets set a few variables

In [51]:
fruits = ['orange', 'apple', 'guava', 'banana', 'mango', 'grapes', 'cashews'] 
player = {'name': 'Oliseh', 'position': 'midfield', 'team': 'super eagles'}
team_94 = {'okocha', 'nwanu', 'oliseh', 'amuneke', 'iroha'} 
team_98 = {'garba', 'oliseh', 'ogbeche', 'ikpeba', 'okocha', 'taribo'}
story = "As I was going to St. Ives, I met a man with seven wives"
date = '31/5/2022' 
olympics = ('united states of america', 'china', 'japan')

### Indexing

In [52]:
print(fruits[0])
#print(fruits[-1])
#print(fruits[-2])

#print(story[5])
#print(story[12])
#print(player['name'])

### Slicing

In [53]:
print(fruits[1:4])
#print(fruits[2:5])
#print(fruits[-4:-1])
#print(fruits[-5:-2])
#print(story[5:14])
#print(story[-28:-16])

### Updating

In [55]:
fruits[1] = 'water melon'
#print(fruits)
#fruits[-1] = 'cashew'
#print(fruits)
#player['team'] = 'ajax'
#print(player)

#fruits[1:4] = ['tomatoes', 'onions', 'pepper', 'coconut']
#print(fruits)

### Deleting

In [56]:
del fruits[3] 
#print(fruits) 

#del fruits[2:4]
#print(fruits)

#del player['name']
#print(player)

## Split and join

In [57]:
word_salad = story.split()
#print(word_salad)
scattered_date = date.split('/')
#print(scattered_date[0])
#print(scattered_date[1])
#print(scattered_date[2])

day = scattered_date[0]
month = scattered_date[1]
year = scattered_date[2]

In [58]:
merge_date = '-'.join(scattered_date)
#print(merge_date)
fruit_salad = ', '.join(fruits)
#print(fruit_salad)

## Methods

### List Methods

In [59]:
#reset fruits
fruits = ['orange', 'apple', 'guava', 'banana', 'mango', 'grapes', 'cashews'] 
#print(fruits)

#fruits.sort()
#print(fruits)

#plants = fruits
#vegitables = fruits.copy()
#print(fruits)
#print(plants)
#print(vegitables)

#fruits[-1] = 'pear' 
#print(fruits)
#print(plants)
#print(vegitables)

#print(fruits.index('mango'))

#fruits.insert(3, 'almonds')

#print(fruits)

#x = fruits.pop()
#print(x)
#print(fruits)

#y = fruits.pop(3)
#print(y)
#print(fruits)

### Set Methods

In [60]:
print(team_94)
print(team_98)

#team_94.add('ruffai')
#print(team_94)
#team_98.add('babayaro')
#print(team_98)

#print(team_94)
#print(team_98)

#print(team_94.union(team_98))
#print(team_94.intersection(team_98))
#print(team_94.difference(team_98))
#print(team_98.difference(team_94))

### Dictionary methods

In [61]:
#reset player
player = {'name': 'Oliseh', 'position': 'midfield', 'team': 'super eagles'}
print(player)

#print(player.keys())
#print(player.values())

## Unpacking tuples, lists, and sets

In [62]:
first, second, third = olympics
#print(first)
#print(second)
#print(third)

## Loops

In [63]:
for fruit in fruits:
    print(fruit)

# Homework

### 1. From the list of scores, sort them from lowest to highest then create a slices of those that got A grade (70-100) and count how many people passed

In [68]:
scores = [42, 76, 52, 57, 53, 52.5, 81, 97, 96.5, 44, 71, 55, 54, 50, 66, 65, 57, 82]

### 2. The examiner found there was a mistake with the highest score and want you to update it to 99.5 Go ahead and make the update

### 3. You have a data set with a date formated as YYYY-mm-dd but you were told that the British institute wants its dates formated as dd/mm/YYYY. Fix the problem for the date below

In [70]:
old_date = '2022-07-18'

### 4. You received a tuple of civil servants who have been promoted in the last 5 years and you are asked to produce a list of people who have been promoted with no duplicates and names in alphabetical order

In [71]:
civil_servants = (
    'Chioma Abdul', 
    'Ronke Usman',
    'Tavershima Ekong', 
    'Ifunanya Pam', 
    'Chioma Abdul', 
    'Rukevwe Idowu', 
    'Belema Idris', 
    'Danaldi Toborie', 
    'Akpan Ogbonna',
    'Zainab Dede', 
    'Chinonso Olajide',
    'Ronke Usman', 
    'Bamidele Agba', 
    'Ifunanya Pam', 
    'Chioma Dede', 
    'Chioma Abdul', 
    'Ogunmola Irabor'
)