# Python Comprehensions

In [8]:
box = ['red m&m', 'blue m&m', 'yellow m&m', 'green m&m', 'green m&m', 'red m&m', 'green m&m', 'yellow m&m', 'yellow m&m'] 
scores = (34, 28, 77, 90, 65, 44, 58, 100)
firstnames = ['satuski', 'steve', 'barth', 'wande', 'elsie', 'chima', 'dapo', 'dennis', 'wale', 'kelechi', 'quincy', 'biyi', 'fibi', 'longji', 'segun', 'john', 'bakkas', 'bola', 'isaiah', 'sunday']
eagles  = [
 {'name': 'JJ Okocha', 'number': 10, 'position': 'midfield'}, 
 {'name': 'Garba Lawal', 'number': 12, 'position': 'midfield'}, 
 {'name': 'Ruben Agboola', 'number': 5, 'position': 'defence'}, 
 {'name': 'Rashidi Yekini', 'number': 9, 'position': 'attack'}, 
 {'name': 'Peter Rufai', 'number': 1, 'position': 'goalkeper'}, 
 {'name': 'Onazi', 'number': 4, 'position': 'midfield'}, 
 {'name': 'Troost Ekong', 'number': 5, 'position': 'defence'}, 
 {'name': 'Sunday Oliseh', 'number': 15, 'position': 'midfield'}, 
 {'name': 'Samson Siasia', 'number': 8, 'position': 'attack'}, 
 {'name': 'Daniel Amokachi', 'number': 14, 'position': 'attack'}, 
 {'name': 'John Utaka', 'number': 8, 'position': 'attack'}, 
 {'name': 'Celestine Babayaro', 'number': 3, 'position': 'defence'}, 
 {'name': 'Manga Mohammed', 'number': 22, 'position': 'midfield'}, 
 {'name': 'Augustine Eguavoen', 'number': 2, 'position': 'defence'}, 
 {'name': 'Leon Balogun', 'number': 6, 'position': 'defence'}, 
 {'name': 'Finidi George', 'number': 7, 'position': 'midfield'}, 
 {'name': 'Emmanuel Amunike', 'number': 11, 'position': 'midfield'}, 
]

# Homework

##### Q1. Write a regular function using the 'def' named capslock that converts a string to uppercase. After writing test to see if it does what you expect

In [91]:
#define a function using the def key word
def capslock(text):
    return text.upper()

capslock("some text")

'SOME TEXT'

##### Q2. Rewrite the function above as a lambda.

In [100]:
#define an anonymous function (lambda function) and then assign it to a variable so it can be called
c_lock = lambda text: text.upper()
c_lock("another text")

'ANOTHER TEXT'

##### Q3. From the box of M&Ms above, determine how many colors there are

In [94]:
#examine the variable
box

['red m&m',
 'blue m&m',
 'yellow m&m',
 'green m&m',
 'green m&m',
 'red m&m',
 'green m&m',
 'yellow m&m',
 'yellow m&m']

In [101]:
#convert to a set which will ensure no duplicates
set(box)

{'blue m&m', 'green m&m', 'red m&m', 'yellow m&m'}

In [102]:
#wrap the set in the len function to get a count of the unique m&m colors
len(set(box))

4

##### Q4. Determine how many many M&Ms are of each color example 5 red, 4 blue etc

In [103]:
#explore the variable
box

['red m&m',
 'blue m&m',
 'yellow m&m',
 'green m&m',
 'green m&m',
 'red m&m',
 'green m&m',
 'yellow m&m',
 'yellow m&m']

In [104]:
#get unique colors by converting to set
colors = set(box)
colors

{'blue m&m', 'green m&m', 'red m&m', 'yellow m&m'}

In [105]:
#build a comprehension
[color for color in colors]

['blue m&m', 'yellow m&m', 'red m&m', 'green m&m']

In [106]:
#use the count method on box to map and find the count of each color
[box.count(color) for color in colors]

[1, 3, 2, 3]

In [109]:
#lets build a tuple that contains the color and the count
[(box.count(color), color) for color in colors]

[(1, 'blue m&m'), (3, 'yellow m&m'), (2, 'red m&m'), (3, 'green m&m')]

In [111]:
#lets split the color so we can extract only the color
[(box.count(color), color.split()) for color in colors]

[(1, ['blue', 'm&m']),
 (3, ['yellow', 'm&m']),
 (2, ['red', 'm&m']),
 (3, ['green', 'm&m'])]

In [112]:
#Lets pull out the index
[(box.count(color), color.split()[0]) for color in colors]

[(1, 'blue'), (3, 'yellow'), (2, 'red'), (3, 'green')]

In [113]:
#Finally lets capitalize the colors
[(box.count(color), color.split()[0].capitalize()) for color in colors]

[(1, 'Blue'), (3, 'Yellow'), (2, 'Red'), (3, 'Green')]

# -----------------------------------------------------------

In [114]:
revenue = [
    {'state': 'Lagos', 'igr': 267232774438.06, 'region': 'South West'},
    {'state': 'FCT', 'igr': 69072879664.43, 'region': 'North Central'},
    {'state': 'Rivers', 'igr': 57324672372.03, 'region': 'South South'},
    {'state': 'Ogun', 'igr': 54823454372.03, 'region': 'South West'},
    {'state': 'Delta', 'igr': 41934182750.80, 'region': 'South South'},
    {'state': 'Kaduna', 'igr': 26429424219.47, 'region': 'North West'},
    {'state': 'Oyo', 'igr': 25191713445.75, 'region': 'South West'},
    {'state': 'Akwa Ibom', 'igr': 18094550401.76, 'region': 'South South'},
    {'state': 'Ondo', 'igr': 17908118155.96, 'region': 'South West'},
    {'state': 'Edo', 'igr': 17664442655.28, 'region': 'south west'},
]

##### Q5. From the revenue variable above, determine what would be collected by the Federal Government of Nigeria if they decided to collect 10% of the IGR of the South Western states in Nigeria listed in the top 10 earners in the first half of 2021. Hint use comprehension, with map, filter and reduce. (answer =N=36,515,606,041.18)

In [116]:
#lets explore the revenue variable - we see a list of dictionaries with the keys: state, igr and region
revenue

[{'state': 'Lagos', 'igr': 267232774438.06, 'region': 'South West'},
 {'state': 'FCT', 'igr': 69072879664.43, 'region': 'North Central'},
 {'state': 'Rivers', 'igr': 57324672372.03, 'region': 'South South'},
 {'state': 'Ogun', 'igr': 54823454372.03, 'region': 'South West'},
 {'state': 'Delta', 'igr': 41934182750.8, 'region': 'South South'},
 {'state': 'Kaduna', 'igr': 26429424219.47, 'region': 'North West'},
 {'state': 'Oyo', 'igr': 25191713445.75, 'region': 'South West'},
 {'state': 'Akwa Ibom', 'igr': 18094550401.76, 'region': 'South South'},
 {'state': 'Ondo', 'igr': 17908118155.96, 'region': 'South West'},
 {'state': 'Edo', 'igr': 17664442655.28, 'region': 'south west'}]

In [117]:
#lets create a comprehension
[income for income in revenue]

[{'state': 'Lagos', 'igr': 267232774438.06, 'region': 'South West'},
 {'state': 'FCT', 'igr': 69072879664.43, 'region': 'North Central'},
 {'state': 'Rivers', 'igr': 57324672372.03, 'region': 'South South'},
 {'state': 'Ogun', 'igr': 54823454372.03, 'region': 'South West'},
 {'state': 'Delta', 'igr': 41934182750.8, 'region': 'South South'},
 {'state': 'Kaduna', 'igr': 26429424219.47, 'region': 'North West'},
 {'state': 'Oyo', 'igr': 25191713445.75, 'region': 'South West'},
 {'state': 'Akwa Ibom', 'igr': 18094550401.76, 'region': 'South South'},
 {'state': 'Ondo', 'igr': 17908118155.96, 'region': 'South West'},
 {'state': 'Edo', 'igr': 17664442655.28, 'region': 'south west'}]

##### filter

In [118]:
#lets filter to find only the south western states
[income for income in revenue if income['region'] == 'South West']

[{'state': 'Lagos', 'igr': 267232774438.06, 'region': 'South West'},
 {'state': 'Ogun', 'igr': 54823454372.03, 'region': 'South West'},
 {'state': 'Oyo', 'igr': 25191713445.75, 'region': 'South West'},
 {'state': 'Ondo', 'igr': 17908118155.96, 'region': 'South West'}]

##### map

In [119]:
#Now that we have the South Western states lets get their IGR since thats what we are interested in
[income['igr'] for income in revenue if income['region'] == 'South West']

[267232774438.06, 54823454372.03, 25191713445.75, 17908118155.96]

In [120]:
#Next lets get 10% of the IGR which is same as 1/10th or 0.1 or divide IGR/10
[income['igr']/10 for income in revenue if income['region'] == 'South West']

[26723277443.806, 5482345437.203, 2519171344.575, 1790811815.596]

##### reduce

In [121]:
#Finally lets get the sum
sum([income['igr']/10 for income in revenue if income['region'] == 'South West'])

36515606041.18

##### Q6. List the South Western states that among the top 10 earning states in Nigeria in 2021

In [122]:
#lets filter to find only the south western states
[income for income in revenue if income['region'] == 'South West']

[{'state': 'Lagos', 'igr': 267232774438.06, 'region': 'South West'},
 {'state': 'Ogun', 'igr': 54823454372.03, 'region': 'South West'},
 {'state': 'Oyo', 'igr': 25191713445.75, 'region': 'South West'},
 {'state': 'Ondo', 'igr': 17908118155.96, 'region': 'South West'}]

In [124]:
#Finally lets map to get the state names
[income['state'] for income in revenue if income['region'] == 'South West']

['Lagos', 'Ogun', 'Oyo', 'Ondo']

##### Q7. Compare what the top 2 earners (Lagos and FCT) generate to the next 8 states. Do the next 8 states earn as much or more than the top 2?

In [89]:
top2 = sum([state['igr'] for state in revenue if state['state'] in ['Lagos', 'FCT']])
next8 = sum([state['igr'] for state in revenue if state['state'] not in ['Lagos', 'FCT']])

In [90]:
top2 > next8

True