# Pandas, Data Cleaning

In [1]:
import pandas as pd

##### Import Dataset

In [5]:
meningitis = pd.read_csv("meningitis_dataset.csv")

##### Exoplore basic information about dataset

In [128]:
#meningitis.info()
#meningitis.shape
#meningitis.columns

##### Variable Indexing

In [16]:
#meningitis[['surname', 'firstname', 'middlename']] 
#meningitis[['middlename']]
#meningitis['middlename'] 
#meningitis.middlename

In [27]:
#Direct indexing
#meningitis[['surname', 'firstname', 'middlename']] #this is a mini dataframe
#meningitis['surname'][1] 
#meningitis.surname[2]

# Indexed Locations (iloc)

In [30]:
#meningitis.iloc[2, 3]
#meningitis.iloc[1:3, 4:12]

# Locations (loc)

In [40]:
#meningitis.loc[0:3, ['surname', 'firstname', 'middlename']]
#meningitis.loc[1:7, ['surname']]
#meningitis.loc[5:10, 'surname']

# Selecting COlumns

```SQL
SELECT * 
FROM meningitis 
```

In [42]:
#meningitis

```SQL
SELECT 
    surname 
    ,firstname 
FROM meningitis 
```

In [44]:
#meningitis[['surname', 'firstname']]

```SQL
SELECT 
    firstname 
    ,surname AS lastname 
FROM meningitis 
```

In [46]:
#meningitis[['firstname', 'surname']].rename(columns={'surname': 'lastname'})

```SQL
SELECT * 
FROM meningitis 
WHERE state = 'Lagos'
```

In [48]:
#meningitis.loc[dataset['state'] == 'Lagos']

```SQL
SELECT 
    firstname 
    ,surname 
    ,state  
FROM mennigitis 
WHERE state = 'Lagos'
```

In [50]:
#meningitis.loc[meningitis['state'] == 'Lagos', ['firstname', 'surname', 'state']]

```SQL
SELECT * 
FROM meningitis 
WHERE state IN ('Lagos', 'Kano', 'Rivers')
```

In [53]:
#meningitis.loc[meningitis['state'].isin(['Lagos', 'Kano', 'Rivers'])]

```SQL
SELECT * 
FROM meningitis 
WHERE firstname LIKE '%ola%' 
```

In [64]:
#meningitis.loc[dataset['firstname'].str.contains('ola')]

```SQL
SELECT * 
FROM meningitis 
WHERE state = 'Lagos' AND settlement = 'Urban'
```

In [66]:
#meningitis.loc[(meningitis['state']=='Lagos') & (dataset['settlement']=='Urban')]

```SQL
SELECT * 
FROM meningitis 
ORDER BY firstname
```

In [68]:
#meningitis.sort_values('firstname')

```SQL
SELECT * 
FROM meningitis 
ORDER BY firstname DESC  
```

In [70]:
#meningitis.sort_values('firstname', ascending=False)

```SQL
SELECT * 
FROM meningitis 
ORDER BY surname, middlename  
```

In [123]:
#meningitis.sort_values(['surname', 'middlename'])
#meningitis.sort_values(['surname', 'middlename'], ascending=[True, False])

```SQL
SELECT 
    firstname 
    ,'All' AS zone 
FROM meningitis  
```

In [83]:
meningitis['zone'] = 'All'
#meningitis

```SQL
SELECT 
    firstname 
    ,age+age AS double_age 
FROM meningitis  
```

In [126]:
#meningitis['double_age'] = meningitis.loc[:, 'age'] + meningitis.loc[:, 'age']
#meningitis['fullname'] = meningitis.loc[:, 'firstname'] +" "+ meningitis.loc[:, 'surname']
#meningitis

```SQL
SELECT 
    firstname
    ,CASE state
        WHEN 'Lagos' THEN 'SW' 
        WHEN 'Kano' THEN 'NW' 
        ELSE 'Unset'
    END AS zone  
FROM mennigitis  
```

In [127]:
#meningitis['zone'] = 'Unset'
#meningitis.loc[meningitis['state'] == 'Lagos', 'zone'] = 'SW'
#meningitis.loc[meningitis['state'] == 'Kano', 'zone'] = 'NW'
#meningitis

# Merging Datasets

In [109]:
#lets make the datasets
bio = meningitis.loc[0:10, ['id', 'firstname', 'surname', 'gender', 'state', 'age']]

In [110]:
diseases = meningitis.loc[0:10, ['id', 'cholera', 'diarrhoea', 'measles', 'ebola']]

In [115]:
Lagos = meningitis.loc[meningitis['state'] == 'Lagos', ['id', 'firstname', 'surname', 'gender', 'state']][0:10]

In [116]:
Kano = meningitis.loc[meningitis['state'] == 'Kano', ['id', 'firstname', 'surname', 'gender', 'state']][0:10]

## Merging (joining) - Horizontal merge

```SQL
SELECT * 
FROM bio AS b 
    LEFT JOIN diseases AS d ON b.id=d.id
```

In [136]:
#bio.merge(diseases, left_on='id', right_on='id')
#merged = bio.merge(diseases, left_on='id', right_on='id')

## Merging (Uniting) - Vertical

```SQL
SELECT * 
FROM Lagos 
UNION
SELECT * 
FROM Kano
```

In [137]:
#pd.concat([Lagos, Kano])
#united = pd.concat([Lagos, Kano])

In [138]:
#Save to CSV
merged.to_csv('merged.csv')
united.to_csv('united.csv')

In [141]:
with pd.ExcelWriter('together.xlsx') as writer:
      merged.to_excel(writer, sheet_name='merged')
      united.to_excel(writer, sheet_name='united')

**You may see the error:**
```bash 
ModuleNotFoundError: No module named 'openpyxl'
```

**in that case just install th missing module in the anaconda terminal**

```bash
pip install openpyxl
```