# Statistics

In [1]:
import pandas as pd

In [2]:
diseases = pd.read_csv("meningitis_dataset.csv")
nhanes = pd.read_csv("nhanes.csv")

/var/folders/fp/dx68ktm14f9cqfl3v_hz71_c0000gp/T/ipykernel_63850/4139413026.py:2: DtypeWarning: Columns (6,20,52,53) have mixed types. Specify dtype option on import or set low_memory=False.
  nhanes = pd.read_csv("nhanes.csv")

In [3]:
diseases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284484 entries, 0 to 284483
Data columns (total 40 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   id                          284484 non-null  int64
 1   surname                     284484 non-null  object
 2   firstname                   284484 non-null  object
 3   middlename                  284484 non-null  object
 4   gender                      284484 non-null  object
 5   gender_male                 284484 non-null  int64
 6   gender_female               284484 non-null  int64
 7   state                       284484 non-null  object
 8   settlement                  284484 non-null  object
 9   rural_settlement            284484 non-null  int64
 10  urban_settlement            284484 non-null  int64
 11  report_date                 284484 non-null  object
 12  report_year                 284484 non-null  int64
 13  age                         284484 non-null  int64
 14  age_str                     284484 non-null  object
 15  date_of_birth               284484 non-null  object
 16  child_group                 284484 non-null  int64
 17  adult_group                 284484 non-null  int64
 18  disease                     284484 non-null  object
 19  cholera                     284484 non-null  int64
 20  diarrhoea                   284484 non-null  int64
 21  measles                     284484 non-null  int64
 22  viral_haemmorrhaphic_fever  284484 non-null  int64
 23  meningitis                  284484 non-null  int64
 24  ebola                       284484 non-null  int64
 25  marburg_virus               284484 non-null  int64
 26  yellow_fever                284484 non-null  int64
 27  rubella_mars                284484 non-null  int64
 28  malaria                     284484 non-null  int64
 29  serotype                    284484 non-null  object
 30  NmA                         284484 non-null  int64
 31  NmC                         284484 non-null  int64
 32  NmW                         284484 non-null  int64
 33  health_status               284484 non-null  object
 34  alive                       284484 non-null  int64
 35  dead                        284484 non-null  int64
 36  report_outcome              284484 non-null  object
 37  unconfirmed                 284484 non-null  int64
 38  confirmed                   284484 non-null  int64
 39  null_serotype               284484 non-null  int64
dtypes: int64(27), object(13)
memory usage: 86.8+ MB

In [4]:
nhanes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20293 entries, 0 to 20292
Data columns (total 78 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                20293 non-null  int64
 1   SurveyYr          20293 non-null  object
 2   Gender            20293 non-null  object
 3   Age               20293 non-null  int64
 4   AgeMonths         10738 non-null  float64
 5   Race1             20293 non-null  object
 6   Race3             9756 non-null   object
 7   Education         11758 non-null  object
 8   MaritalStatus     11767 non-null  object
 9   HHIncome          18217 non-null  object
 10  HHIncomeMid       18217 non-null  float64
 11  Poverty           18457 non-null  float64
 12  HomeRooms         20148 non-null  float64
 13  HomeOwn           20156 non-null  object
 14  Work              13060 non-null  object
 15  Weight            19405 non-null  float64
 16  Length            2285 non-null   float64
 17  HeadCirc          474 non-null    float64
 18  Height            18035 non-null  float64
 19  BMI               18014 non-null  float64
 20  BMICatUnder20yrs  3355 non-null   object
 21  BMI_WHO           17947 non-null  object
 22  Pulse             14896 non-null  float64
 23  BPSysAve          14867 non-null  float64
 24  BPDiaAve          14867 non-null  float64
 25  BPSys1            14285 non-null  float64
 26  BPDia1            14285 non-null  float64
 27  BPSys2            14481 non-null  float64
 28  BPDia2            14481 non-null  float64
 29  BPSys3            14505 non-null  float64
 30  BPDia3            14505 non-null  float64
 31  Testosterone      6826 non-null   float64
 32  DirectChol        14835 non-null  float64
 33  TotChol           14834 non-null  float64
 34  UrineVol1         16083 non-null  float64
 35  UrineFlow1        14690 non-null  float64
 36  UrineVol2         2708 non-null   float64
 37  UrineFlow2        2697 non-null   float64
 38  Diabetes          19460 non-null  object
 39  DiabetesAge       1437 non-null   float64
 40  HealthGen         12449 non-null  object
 41  DaysPhysHlthBad   12431 non-null  float64
 42  DaysMentHlthBad   12426 non-null  float64
 43  LittleInterest    10508 non-null  object
 44  Depressed         10514 non-null  object
 45  nPregnancies      4202 non-null   float64
 46  nBabies           3939 non-null   float64
 47  Age1stBaby        3158 non-null   float64
 48  SleepHrsNight     13032 non-null  float64
 49  SleepTrouble      13058 non-null  object
 50  PhysActive        14278 non-null  object
 51  PhysActiveDays    7375 non-null   float64
 52  TVHrsDay          9065 non-null   object
 53  CompHrsDay        9074 non-null   object
 54  TVHrsDayChild     2228 non-null   float64
 55  CompHrsDayChild   2228 non-null   float64
 56  Alcohol12PlusYr   10303 non-null  object
 57  AlcoholDay        6993 non-null   float64
 58  AlcoholYear       8831 non-null   float64
 59  SmokeNow          5233 non-null   object
 60  Smoke100          11771 non-null  object
 61  SmokeAge          5049 non-null   float64
 62  Marijuana         7072 non-null   object
 63  AgeFirstMarij     3714 non-null   float64
 64  RegularMarij      3712 non-null   object
 65  AgeRegMarij       1820 non-null   float64
 66  HardDrugs         8641 non-null   object
 67  SexEver           8638 non-null   object
 68  SexAge            8136 non-null   float64
 69  SexNumPartnLife   8532 non-null   float64
 70  SexNumPartYear    7040 non-null   float64
 71  SameSex           8636 non-null   object
 72  SexOrientation    6847 non-null   object
 73  WTINT2YR          20293 non-null  float64
 74  WTMEC2YR          20293 non-null  float64
 75  SDMVPSU           20293 non-null  int64
 76  SDMVSTRA          20293 non-null  int64
 77  PregnantNow       2613 non-null   object
dtypes: float64(45), int64(4), object(29)
memory usage: 12.1+ MB

## Univariate Analysis

### Univariate analysis for Numeric Data

In [16]:
dmin = diseases['age'].min()
print(dmin)
dmean = diseases['age'].mean()
print(dmean)
dmedian = diseases['age'].median()
print(dmedian)
dmax = diseases['age'].max()
print(dmax)
dQ1 = diseases['age'].quantile(0.25)
print(dQ1)
dQ3 = diseases['age'].quantile(0.75)
print(dQ3)
drange = dmax - dmin
print(drange)
dIQR = dQ3 - dQ1
print(dIQR)
dSD = diseases['age'].std()
print(dSD)
five_number_summary = diseases['age'].quantile([0, 0.25, 0.5, 0.75, 1])
print(five_number_summary)

0
34.73239619802871
34.0
78
14.0
54.0
78
40.0
22.240912425438857
0.00     0.0
0.25    14.0
0.50    34.0
0.75    54.0
1.00    78.0
Name: age, dtype: float64

In [19]:
diseases['age'].describe()

count    284484.000000
mean         34.732396
std          22.240912
min           0.000000
25%          14.000000
50%          34.000000
75%          54.000000
max          78.000000
Name: age, dtype: float64

In [126]:
#Build function

In [204]:
#uninum(diseases, 'age')

In [205]:
#uninum(nhanes, 'Age')

### Univariate Analysis for Categorical Data

In [34]:
frequencies = diseases['gender'].value_counts()
#frequencies

proportions = frequencies/frequencies.sum()
#proportions

percentages = proportions*100
percentages

#gender = pd.DataFrame(gender)
#gender['prop'] = gender['gender']/sum(gender['gender'])
#gender['percent'] = gender['prop']*100

count     284484
unique         2
top       Female
freq      147272
Name: gender, dtype: object

In [96]:
#define function

In [207]:
#unicat(diseases, 'gender')

In [208]:
#unicat(nhanes, 'Race1')

## Bivariate Analysis

### Categorical vs Categorical

In [40]:
crosstable = pd.crosstab(diseases['gender'], diseases['state'])
crosstable

state,Abia,Adamawa,Akwa Ibom,Anambra,Bauchi,Bayelsa,Benue,Borno,Cross River,Delta,...,Ogun,Ondo,Osun,Oyo,Plateau,Rivers,Sokoto,Taraba,Yobe,Zamfara
gender,,,,,,,,,,,,,,,,,,,,,
Female,3992,3916,3963,4026,3930,4030,4065,3934,3912,3911,...,3952,4131,4063,4044,3887,3925,4003,3963,4060,3905
Male,3705,3772,3658,3684,3735,3767,3711,3630,3612,3767,...,3709,3704,3663,3680,3658,3717,3688,3597,3700,3727

In [36]:
tablesum = crosstable.sum().sum()
tablesum

284484

In [37]:
proptable = crosstable/tablesum
proptable

settlement     Rural     Urban
gender
Female      0.259656  0.258025
Male        0.241472  0.240847

In [38]:
percentable = proptable*100
percentable

settlement      Rural      Urban
gender
Female      25.965608  25.802506
Male        24.147228  24.084659

In [180]:
#define function

In [213]:
#summary = bicat('Gender', 'Race1', nhanes)

In [214]:
#summary['frequencies']

In [215]:
#summary['proportions']

In [216]:
#summary['percentages']

### Categorical vs Numeric

In [41]:
diseases[['age', 'gender']].groupby('gender').quantile([0, 0.25, 0.5, 0.75, 1])

              age
gender
Female 0.00   0.0
       0.25  14.0
       0.50  34.0
       0.75  54.0
       1.00  78.0
Male   0.00   0.0
       0.25  14.0
       0.50  34.0
       0.75  54.0
       1.00  78.0

In [218]:
#diseases[['age', 'gender']].groupby('gender').mean()

In [219]:
#diseases[['age', 'gender']].groupby('gender').std()

### Numeric vs Numeric

In [39]:
nhanes[['Age', 'Weight']].corr()

             Age    Weight
Age     1.000000  0.626415
Weight  0.626415  1.000000